.page-header {
    padding-bottom: 9px;
    margin: 28px 0 20px;
    border-bottom: 1px solid #eee;
}
.margem{
    margin-bottom:10em;
    padding: 15px auto;
}

nav.navbar-largura{
    padding: 10px 0px;
}
.logo{
    height: 45px;
    width: 136px;
    display: block;
    background: url('img/capaSombra_SideClass4.png') no-repeat ;
    background-size:cover;
    color:transparent;
}

body{
    background: url('https://i1.wp.com/2f4u.fansubs.com.br/wp-content/uploads/2017/07/site-background.jpg?ssl=1');
}
